
body {
  font-family: Arial;
  background: #fff8dc;
  padding: 20px;
}
h1 { text-align: center; }
.card {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card img { width: 100%; border-radius: 8px; }
